body{
    padding-left: 12em;
    font-family: 'Arial';
    color: purple;
    background-color: #d8da3d;
}
h1  {
    font-family: 'Comic sans ms';
    color: black;
}
ul  {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 100px;
    left:50px;
    color: black;
}
img {
    float: right;
    margin-right: 50px;
}
p   {
    padding: 10px;
    margin-right: 30em;
    color: black;
    background-color: plum;
    border: solid brown 5px;
}
